footer {
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 5px;
  height: 70px;
  width: 100%;
  bottom: 0;
  background-color: var(--color--lila);
}

.footer--icon {
  color: white;
}

.footer--icon--active {
  color: orangered;
}
