/* Navigation */

/* <nav> main element -> navigation */
nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--color--lila);
}

/* <ul> element -> navigation */
.navigation {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

/* <li> element -> nagigation (type button) */
.navigation--element {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* <li> element -> nagigation (type button) 
should be applied with an hover event with java script*/
.navigation--element--hover {
  background-color: var(--color--darklila);
}

/* <li> element -> nagigation (type button) 
should be applied with an click event with java script*/
.navigation--element--active {
  background-color: var(--color--darklila);
}

/* <span> element for icon -> navigation */
.icon {
  color: white;
  scale: 200%;
}
